.layout{
	background-color: darkseagreen;
	font-family: sans-serif;
	border: 5px solid darkred;
	padding:10px;

}

table{
	background-color: darksalmon;
	border-collapse: collapse;
	border-style: double;
	border-width: 6px;
	border-color: black;
	font-family: sans-serif;
}

.submit{
	background-color: darkred;
	border-color: black;
	color: white;
}